<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Agapanthus</key>
	<dict>
		<key>label</key>
		<string>Agapanthus</string>
		<key>description</key>
		<string>The Agapanthus flower.</string>
	</dict>
	<key>Bougainvillea</key>
	<dict>
		<key>label</key>
		<string>Bougainvillea</string>
		<key>description</key>
		<string>The Bougainvillea flower.</string>
	</dict>
	<key>Ivy</key>
	<dict>
		<key>label</key>
		<string>Ivy</string>
		<key>description</key>
		<string>The Ivy flower.</string>
	</dict>
	<key>Jasmine</key>
	<dict>
		<key>label</key>
		<string>Jasmine</string>
		<key>description</key>
		<string>The Jasmine flower.</string>
	</dict>
	<key>Tansy</key>
	<dict>
		<key>label</key>
		<string>Tansy</string>
		<key>description</key>
		<string>The Tansy flower.</string>
	</dict>
	<key>Trumpet_creeper</key>
	<dict>
		<key>label</key>
		<string>Trumpet Creeper</string>
		<key>description</key>
		<string>The Trumper Creeper flower.</string>
	</dict>
	<key>Verbena</key>
	<dict>
		<key>label</key>
		<string>Verbena</string>
		<key>description</key>
		<string>The Verbena flower.</string>
	</dict>
	<key>Fertilizer</key>
	<dict>
		<key>label</key>
		<string>Fertilizer</string>
		<key>description</key>
		<string>Fertilizer helps your flowers grow.</string>
	</dict>
</dict>
</plist>
